@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf");
}

* {
  font-family: Montserrat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  background: #c8d8e5;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 16px;
  margin: 0 4px 4px 0;
  width: auto;
}

input[type="text"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder {
  color: #264f73;
  opacity: 0.9;
  font-weight: 600;
}

input[type="text"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder {
  color: #264f73;
  opacity: 0.9;
  font-weight: 600;
}

input[type="text"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder,
input[type="date"]::-ms-input-placeholder {
  color: #264f73;
  opacity: 0.9;
  font-weight: 600;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder {
  color: #264f73;
  opacity: 0.9;
  font-weight: 600;
}

#back img {
  width: 40px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

button {
  background: #ffe8e2;
  color: #ff7350;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 16px 32px;
  margin: 0 4px 4px 0;
}

a {
  color: #264f73;
}

a:visited {
  color: #264f73;
}

a:hover {
  text-decoration: underline;
}

.admin {
  height: 100vh;
}

.admin .login input, .admin .login select, .admin .login textarea {
  width: 75%;
  padding: 20px;
  border: 1px solid #eff4f5;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 20px;
}

.admin .login label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.admin .login input[type=submit] {
  background-color: #999;
  color: white;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.admin nav {
  position: relative;
  color: #eff4f5;
  background-color: #264f73;
  padding: 8px 24px;
}

.admin nav h1 {
  color: #eff4f5;
}

.admin nav span {
  position: absolute;
  left: 16px;
  top: 12px;
}

.admin nav span a {
  color: #eff4f5;
  text-decoration: none;
}

.admin .container-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 24px;
}

.admin .container-admin a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  width: 200px;
  background: #eff4f5;
  color: #264f73;
  font-weight: 600;
  text-decoration: none;
  margin: 16px;
  text-align: center;
  border: 3px solid #264f73;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.admin .container-admin a:visited {
  color: #264f73;
}

.admin .container-admin a:hover {
  background-color: #dee3e4;
  text-decoration: underline;
}

.admin .container-admin a p {
  margin: 0;
}

.admin .population {
  width: 100%;
}

.admin .population h2 {
  width: 100%;
  max-width: 720px;
  margin: 32px auto 0;
}

.admin .population .user-add {
  margin: 8px 0 16px;
}

.admin .population .user-add form {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.admin .population table {
  border-spacing: 0;
  width: 100%;
  max-width: 720px;
  margin: 16px auto 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.admin .population table tr:nth-child(odd) {
  background: #c8d8e5;
}

.admin .population table tr:nth-child(even) {
  background: #ecf2f7;
}

.admin .population table td {
  padding: 8px;
}

.admin .population table td:first-child {
  text-align: center;
}

.admin .population table td button {
  padding: 8px;
}

.admin .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.admin .container h2 {
  margin-top: 42px;
  font-size: 32px;
}

.admin .container img {
  width: 250px;
}

.admin .container .col {
  margin-top: 45px;
}

.admin .container .col p {
  max-width: 259.75px;
  padding-bottom: 10px;
}

.admin .container .event-add {
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
}

.admin .container .event-add h2 {
  margin: 32px 0 0;
}

.admin .container .event-add input,
.admin .container .event-add button {
  width: 100%;
  margin-bottom: 8px;
}
/*# sourceMappingURL=admin.css.map */