@font-face{
    font-family: "Montserrat";
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face{
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Montserrat-Italic.ttf");
}
@font-face{
    font-family: "Montserrat";
    font-weight: 500;
    src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face{
    font-family: "Montserrat";
    font-weight: 600;
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face{
    font-family: "Montserrat";
    font-weight: 300;
    src: url("../fonts/Montserrat-Light.ttf");
}
