@import "fonts.scss";

$darkblue: #264f73;
$lightblue: #42cde7;
$coral: #ff7350;
$white: #eff4f5;
$grey: #999;

// Barvy pro fonty a containery
$f-darkgrey: #111111;
$f-lightgrey: #cccccc;

* {
  margin: 0;
  font-family: "Montserrat";
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: $darkblue;

  .div1 {
    background-color: $darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;

    .div1_in1 {
      width: auto;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;

      .logo {

        
        img{
          margin-left: -20px;
        }
        
        width: 40%;

        p {
          padding-top: 32px;
          color: lightgray;
          width: 150%;
        }
      }

      .login {
        padding-top: 48px;

        p {
          padding-top: 16px;
          color: lightgray;
          width: 150%;
        }

        h2 {
          display: inline-block;
          color: $white;
          padding-bottom: 32px;
          line-height: 1;
        }

        .h2_reg {
          display: inline-block;
          color: $white;
          padding-bottom: 40px;
          font-size: 64px;
        }

        .h2_reg2 {
          display: inline-block;
          color: $white;
          padding-bottom: 16px;
          font-size: 56px;
          margin-right: 24px;
        }

        input,
        select,
        textarea {
          width: 16em;
          padding: 8px;
          border: none;
          color: $white;
          border-bottom: 1px solid $white;
          resize: vertical;
          margin-bottom: 16px;
          background: transparent;
          outline: none;
          transition: 0.2s;
          font-size: 16px;

          &::placeholder {
            color: $white;
          }

          &:focus {
            color: $white;
            border-bottom: 1px solid $white;
          }
        }

        label {
          padding: 16px 16px 16px 0;
          display: inline-block;
        }

        button[type="submit"] {
          background-color: $white;
          color: black;
          padding: 8px 32px;
          margin-top: 24px;
          border: none;
          cursor: pointer;
          font-size: 16px;
          height: 48px;
        }
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 75%;
        padding-top: 32px;
        transition: 0.2s;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  .div2 {
    background-image: url("../images/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    height: 100%;
    width: 100%;
  }
}
