@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf");
}

* {
  margin: 0;
  font-family: "Montserrat";
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  background-color: #264f73;
}

.wrapper .div1 {
  background-color: #264f73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

.wrapper .div1 .div1_in1 {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .div1 .div1_in1 .logo {
  width: 40%;
}

.wrapper .div1 .div1_in1 .logo img {
  margin-left: -20px;
}

.wrapper .div1 .div1_in1 .logo p {
  padding-top: 32px;
  color: lightgray;
  width: 150%;
}

.wrapper .div1 .div1_in1 .login {
  padding-top: 48px;
}

.wrapper .div1 .div1_in1 .login p {
  padding-top: 16px;
  color: lightgray;
  width: 150%;
}

.wrapper .div1 .div1_in1 .login h2 {
  display: inline-block;
  color: #eff4f5;
  padding-bottom: 32px;
  line-height: 1;
}

.wrapper .div1 .div1_in1 .login .h2_reg {
  display: inline-block;
  color: #eff4f5;
  padding-bottom: 40px;
  font-size: 64px;
}

.wrapper .div1 .div1_in1 .login .h2_reg2 {
  display: inline-block;
  color: #eff4f5;
  padding-bottom: 16px;
  font-size: 56px;
  margin-right: 24px;
}

.wrapper .div1 .div1_in1 .login input,
.wrapper .div1 .div1_in1 .login select,
.wrapper .div1 .div1_in1 .login textarea {
  width: 16em;
  padding: 8px;
  border: none;
  color: #eff4f5;
  border-bottom: 1px solid #eff4f5;
  resize: vertical;
  margin-bottom: 16px;
  background: transparent;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 16px;
}

.wrapper .div1 .div1_in1 .login input::-webkit-input-placeholder,
.wrapper .div1 .div1_in1 .login select::-webkit-input-placeholder,
.wrapper .div1 .div1_in1 .login textarea::-webkit-input-placeholder {
  color: #eff4f5;
}

.wrapper .div1 .div1_in1 .login input:-ms-input-placeholder,
.wrapper .div1 .div1_in1 .login select:-ms-input-placeholder,
.wrapper .div1 .div1_in1 .login textarea:-ms-input-placeholder {
  color: #eff4f5;
}

.wrapper .div1 .div1_in1 .login input::-ms-input-placeholder,
.wrapper .div1 .div1_in1 .login select::-ms-input-placeholder,
.wrapper .div1 .div1_in1 .login textarea::-ms-input-placeholder {
  color: #eff4f5;
}

.wrapper .div1 .div1_in1 .login input::placeholder,
.wrapper .div1 .div1_in1 .login select::placeholder,
.wrapper .div1 .div1_in1 .login textarea::placeholder {
  color: #eff4f5;
}

.wrapper .div1 .div1_in1 .login input:focus,
.wrapper .div1 .div1_in1 .login select:focus,
.wrapper .div1 .div1_in1 .login textarea:focus {
  color: #eff4f5;
  border-bottom: 1px solid #eff4f5;
}

.wrapper .div1 .div1_in1 .login label {
  padding: 16px 16px 16px 0;
  display: inline-block;
}

.wrapper .div1 .div1_in1 .login button[type="submit"] {
  background-color: #eff4f5;
  color: black;
  padding: 8px 32px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
}

.wrapper .div1 .div1_in1 a {
  color: white;
  text-decoration: none;
  font-size: 75%;
  padding-top: 32px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wrapper .div1 .div1_in1 a:hover {
  border-bottom: 1px solid #eff4f5;
}

.wrapper .div2 {
  background-image: url("../images/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=login.css.map */