@import "fonts.scss";

$darkblue: #264f73;
$lightblue: #42cde7;
$coral: #ff7350;
$white: #eff4f5;
$grey: #999;
$f-darkgrey: #111111;
$f-lightgrey: #cccccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
  color: $darkblue;

  .logo_image {
    width: 55px;
  }

  header {
    margin-top: 15px;

    p {
      text-align: right;
      color: $darkblue;
      font-family: Montserrat;
      font-size: 1.4em;
      margin-bottom: 0;
      margin-top: 20px;

      #logout {
        font-size: 24px;
        margin-left: 8px;
      }
    }
    p {
      font-size: 1.5em;
      text-align: right;
      margin-top: 10px;

      img {
        margin-left: 10px;
        width: 50px;
      }
    }
  }

  .name {
    margin-top: 50px;

    h1 {
      font-size: 3em;
      font-weight: bold;
    }
  }

  .overview {
    margin-top: 40px;

    p {
      font-size: 1.2em;

      margin-top: 10px;
    }

    img {
      width: 50px;
    }

    .bigger_number {
      font-size: 1.6em;
    }
  }

  .news {
    margin-top: 2%;

    a {
      text-decoration: none;
      color: $darkblue;
    }
    p.notificationAlert {
      margin-top: 24px;
    }

    .block {
      width: 100%;
      color: $darkblue;
      height: 80px;

      .block_text {
        padding-left: 95px;

        h3 {
          font-size: 1.5em;
          padding-top: 13px;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 2px;
        }
      }

      .image_block {
        background: $darkblue;
        width: 80px;
        height: 80px;
        justify-content: center;
        display: flex;
        align-items: center;
        float: left;

        img {
          width: 50%;
          height: 50%;
        }
      }
    }
  }

  .event {
    .block {
      margin-top: 24px;
      padding: 24px 0;
      display: flex;
      align-items: center;
    }
    .event_hight {
      margin-left: 16px;
      line-height: 1;
      * {
        margin: 0;
      }
    }

    .image_block {
      h2 {
        color: white;
        font-size: 2.2em;
        margin-top: 5px;
      }
    }
  }

  .topuser{
      margin-top: 50px;

  }

  table{
          width: 550px;
          text-align: center;
          margin:32px 0 80px;
      
    tr:not(:first-child){
            border-top: 2px solid rgba(0,0,30,.1);
          }
      td{
          
          font-size: 1.4em;
          padding: 16px 24px;
          h3, p{
              margin: 0
          }
      }
    }

  .aplication {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .app {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px 8px 0 0;

      img {
        width: 50px;
      }
    }

    #messages {
      background: #d2780e;
    }

    #survey {
      background: #df4949;
    }

    #map {
      background: #68d043;
    }

    #time_tabels {
      background: #65e2ea;
    }

    #request {
      background: #9737c3;
    }

    #events {
      background: #5a7bcf;
    }

    #market {
      background: #d3e21d;
    }

    #factory {
      background: #65e2ea;
    }
  }

  .notification {
    width: 100%;
    height: 54px;
    background: $darkblue;
    margin-top: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

    p {
      font-size: 1.2em;
      margin-bottom: 0;
    }

    a {
      background: white;
      padding: 2px 4px;
      transition: 0.2s;
    }

    a:hover {
      opacity: 0.5;
    }

    .sub {
      button[type="submit"] {
        background-color: $darkblue;
        color: $white;
        padding: 8px 32px;
        margin-top: 24px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        height: 48px;
        transition: 0.2s;

        &:hover {
          background-color: #1e3e5a;
        }
      }
    }
  }

  .item{

    padding: 25px;
    display: flex;
    align-items: center;
    width: 100%;

    img{
        width: 70%;
    }

    a{
        color: $darkblue;
        padding: 4px;
        border: 2px solid $darkblue;
        text-decoration: none;
        font-size: 1.2em;
        transition: 0.2s;
    }

    a:hover{
        background: $darkblue;
        color: white;
    }

  }

  .survey {
    margin-top: 20px;
    padding: 25px;

    h3 {
      padding-top: 10px;
    }

    input {
      border: 0px;
      padding: 5px;
      background: white;
      transition: 0.2s;
      margin-top: 8px;
      width: 300px;
      font-size: 1em;
    }

    #option1 {
      border: 3px solid $coral;
    }

    #option1:hover {
      background: $coral;
      color: white;
    }

    #option2 {
      border: 3px solid $lightblue;
    }

    #option2:hover {
      background: $lightblue;
      color: white;
    }

    #option3 {
      border: 3px solid #9737c3;
    }

    #option3:hover {
      background: #9737c3;
      color: white;
    }

    #option4 {
      border: 3px solid $darkblue;
    }

    #option4:hover {
      background: $darkblue;
      color: white;
    }
  }
}

.user {
  margin-top: 32px;
  h2 {
    margin-bottom: 24px;
  }
  .data {
    display: flex;
    justify-content: flex-start;
    height: 64px;
    width: 400px;
    .title {
      width: 160px;
      padding: 16px;
      background-color: $darkblue;
      color: white;
      display: flex;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .text {
      border: 0px solid white;
      height: 48px;
      text-align: left;
      display: flex;
      font-size: 24px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 24px;
      &:focus {
        outline-width: 0;
      }
    }
  }
  .picture {
    display: flex;
    justify-content: space-between;
    .profile_pic {
      width: 256px;
      height: 256px;
      margin: auto;
    }
  }
}

.flex {
  justify-content: flex-start;
  display: flex;
}

.points {
  color: white;
  background-color: $coral;
  font-weight: normal;
  width: 60px;
  height: 40px;
  font-size: 24px;
  display: flex;
  font-size: 24px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6px;
  margin-left: 16px;
}

.fire {
  h2 {
    text-align: center;
  }

  .fire_in {
    margin-top: 24px;
    form {
      text-align: center;
    }

    input,
    select,
    textarea {
      width: 16em;
      padding: 8px;
      border: none;
      color: $white;
      border-bottom: 1px solid $darkblue;
      resize: vertical;
      margin-bottom: 16px;
      background: transparent;
      outline: none;
      transition: 0.2s;
      font-size: 16px;

      &::placeholder {
        color: $grey;
      }

      &:focus {
        color: $darkblue;
        border-bottom: 1px solid $darkblue;
      }
    }

    label {
      padding: 16px 16px 16px 0;
      display: inline-block;
    }

    button[type="submit"] {
      background-color: $white;
      color: black;
      padding: 8px 32px;
      margin-top: 32px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      height: 48px;
    }
  }
}
.box-shadow {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
}

.wrapper {
  h1 {
    color: $darkblue;
    text-align: center;
  }

  .event-col {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    color: $darkblue;
    height: 102px;
    margin-top: 32px;
    text-align: right;

    h2 {
      margin-right: 118px;
      font-size: 48px;
      padding-top: 16px;
    }
  }

  .stopfloat {
    clear: both;
  }
}
.form-col {
  margin-top: 240px;
  a {
    border-bottom: 2px solid $darkblue;
    display: flex;
    font-size: 24px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 340px;
    height: 60px;
    font-weight: bold;
    margin: auto;
    color: $darkblue;
    &:hover {
      text-decoration: none;
    }
  }
}

.forms-style {
  input,
  textarea {
    border: 0px;
    border-bottom: 1px solid $darkblue;
    margin-bottom: 16px;
    resize: none;
    font-size: 24px;

    &:focus {
      outline: none;
    }
  }

  textarea {
    border-left: 1px solid $darkblue;
    padding: 8px 16px;
    border-bottom: 0px;
    margin: 8px;
  }

  p {
    margin: 0;
    font-size: 24px;
  }

  input[type="submit"] {
    background-color: $darkblue;
    color: $white;
    padding: 8px 32px;
    margin-top: 24px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    height: 48px;
    transition: 0.2s;
    s &:hover {
      background-color: #1e3e5a;
    }
  }
}

.wrapper2 {
  height: 50vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: center;
  text-decoration: none;
  margin-top: 128px;
  margin-left: 148px;
  margin-right: 148px;

  a {
    color: $darkblue;
  }

  a:hover {
    text-decoration: none;
    opacity: 0.6;
    transition: 1s;
  }
}
