@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Montserrat;
  color: #264f73;
}

body .logo_image {
  width: 55px;
}

body header {
  margin-top: 15px;
}

body header p {
  text-align: right;
  color: #264f73;
  font-family: Montserrat;
  font-size: 1.4em;
  margin-bottom: 0;
  margin-top: 20px;
}

body header p #logout {
  font-size: 24px;
  margin-left: 8px;
}

body header p {
  font-size: 1.5em;
  text-align: right;
  margin-top: 10px;
}

body header p img {
  margin-left: 10px;
  width: 50px;
}

body .name {
  margin-top: 50px;
}

body .name h1 {
  font-size: 3em;
  font-weight: bold;
}

body .overview {
  margin-top: 40px;
}

body .overview p {
  font-size: 1.2em;
  margin-top: 10px;
}

body .overview img {
  width: 50px;
}

body .overview .bigger_number {
  font-size: 1.6em;
}

body .news {
  margin-top: 2%;
}

body .news a {
  text-decoration: none;
  color: #264f73;
}

body .news p.notificationAlert {
  margin-top: 24px;
}

body .news .block {
  width: 100%;
  color: #264f73;
  height: 80px;
}

body .news .block .block_text {
  padding-left: 95px;
}

body .news .block .block_text h3 {
  font-size: 1.5em;
  padding-top: 13px;
  margin-bottom: 0;
}

body .news .block .block_text p {
  margin-bottom: 2px;
}

body .news .block .image_block {
  background: #264f73;
  width: 80px;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

body .news .block .image_block img {
  width: 50%;
  height: 50%;
}

body .event .block {
  margin-top: 24px;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .event .event_hight {
  margin-left: 16px;
  line-height: 1;
}

body .event .event_hight * {
  margin: 0;
}

body .event .image_block h2 {
  color: white;
  font-size: 2.2em;
  margin-top: 5px;
}

body .topuser {
  margin-top: 50px;
}

body table {
  width: 550px;
  text-align: center;
  margin: 32px 0 80px;
}

body table tr:not(:first-child) {
  border-top: 2px solid rgba(0, 0, 30, 0.1);
}

body table td {
  font-size: 1.4em;
  padding: 16px 24px;
}

body table td h3, body table td p {
  margin: 0;
}

body .aplication {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

body .aplication .app {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 8px 0 0;
}

body .aplication .app img {
  width: 50px;
}

body .aplication #messages {
  background: #d2780e;
}

body .aplication #survey {
  background: #df4949;
}

body .aplication #map {
  background: #68d043;
}

body .aplication #time_tabels {
  background: #65e2ea;
}

body .aplication #request {
  background: #9737c3;
}

body .aplication #events {
  background: #5a7bcf;
}

body .aplication #market {
  background: #d3e21d;
}

body .aplication #factory {
  background: #65e2ea;
}

body .notification {
  width: 100%;
  height: 54px;
  background: #264f73;
  margin-top: 16px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
}

body .notification p {
  font-size: 1.2em;
  margin-bottom: 0;
}

body .notification a {
  background: white;
  padding: 2px 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .notification a:hover {
  opacity: 0.5;
}

body .notification .sub button[type="submit"] {
  background-color: #264f73;
  color: #eff4f5;
  padding: 8px 32px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .notification .sub button[type="submit"]:hover {
  background-color: #1e3e5a;
}

body .item {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .item img {
  width: 70%;
}

body .item a {
  color: #264f73;
  padding: 4px;
  border: 2px solid #264f73;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .item a:hover {
  background: #264f73;
  color: white;
}

body .survey {
  margin-top: 20px;
  padding: 25px;
}

body .survey h3 {
  padding-top: 10px;
}

body .survey input {
  border: 0px;
  padding: 5px;
  background: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 8px;
  width: 300px;
  font-size: 1em;
}

body .survey #option1 {
  border: 3px solid #ff7350;
}

body .survey #option1:hover {
  background: #ff7350;
  color: white;
}

body .survey #option2 {
  border: 3px solid #42cde7;
}

body .survey #option2:hover {
  background: #42cde7;
  color: white;
}

body .survey #option3 {
  border: 3px solid #9737c3;
}

body .survey #option3:hover {
  background: #9737c3;
  color: white;
}

body .survey #option4 {
  border: 3px solid #264f73;
}

body .survey #option4:hover {
  background: #264f73;
  color: white;
}

.user {
  margin-top: 32px;
}

.user h2 {
  margin-bottom: 24px;
}

.user .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 64px;
  width: 400px;
}

.user .data .title {
  width: 160px;
  padding: 16px;
  background-color: #264f73;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user .data .text {
  border: 0px solid white;
  height: 48px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 24px;
}

.user .data .text:focus {
  outline-width: 0;
}

.user .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user .picture .profile_pic {
  width: 256px;
  height: 256px;
  margin: auto;
}

.flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.points {
  color: white;
  background-color: #ff7350;
  font-weight: normal;
  width: 60px;
  height: 40px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6px;
  margin-left: 16px;
}

.fire h2 {
  text-align: center;
}

.fire .fire_in {
  margin-top: 24px;
}

.fire .fire_in form {
  text-align: center;
}

.fire .fire_in input,
.fire .fire_in select,
.fire .fire_in textarea {
  width: 16em;
  padding: 8px;
  border: none;
  color: #eff4f5;
  border-bottom: 1px solid #264f73;
  resize: vertical;
  margin-bottom: 16px;
  background: transparent;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 16px;
}

.fire .fire_in input::-webkit-input-placeholder,
.fire .fire_in select::-webkit-input-placeholder,
.fire .fire_in textarea::-webkit-input-placeholder {
  color: #999;
}

.fire .fire_in input:-ms-input-placeholder,
.fire .fire_in select:-ms-input-placeholder,
.fire .fire_in textarea:-ms-input-placeholder {
  color: #999;
}

.fire .fire_in input::-ms-input-placeholder,
.fire .fire_in select::-ms-input-placeholder,
.fire .fire_in textarea::-ms-input-placeholder {
  color: #999;
}

.fire .fire_in input::placeholder,
.fire .fire_in select::placeholder,
.fire .fire_in textarea::placeholder {
  color: #999;
}

.fire .fire_in input:focus,
.fire .fire_in select:focus,
.fire .fire_in textarea:focus {
  color: #264f73;
  border-bottom: 1px solid #264f73;
}

.fire .fire_in label {
  padding: 16px 16px 16px 0;
  display: inline-block;
}

.fire .fire_in button[type="submit"] {
  background-color: #eff4f5;
  color: black;
  padding: 8px 32px;
  margin-top: 32px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
}

.box-shadow {
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
}

.wrapper h1 {
  color: #264f73;
  text-align: center;
}

.wrapper .event-col {
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
  width: 100%;
  color: #264f73;
  height: 102px;
  margin-top: 32px;
  text-align: right;
}

.wrapper .event-col h2 {
  margin-right: 118px;
  font-size: 48px;
  padding-top: 16px;
}

.wrapper .stopfloat {
  clear: both;
}

.form-col {
  margin-top: 240px;
}

.form-col a {
  border-bottom: 2px solid #264f73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 340px;
  height: 60px;
  font-weight: bold;
  margin: auto;
  color: #264f73;
}

.form-col a:hover {
  text-decoration: none;
}

.forms-style input,
.forms-style textarea {
  border: 0px;
  border-bottom: 1px solid #264f73;
  margin-bottom: 16px;
  resize: none;
  font-size: 24px;
}

.forms-style input:focus,
.forms-style textarea:focus {
  outline: none;
}

.forms-style textarea {
  border-left: 1px solid #264f73;
  padding: 8px 16px;
  border-bottom: 0px;
  margin: 8px;
}

.forms-style p {
  margin: 0;
  font-size: 24px;
}

.forms-style input[type="submit"] {
  background-color: #264f73;
  color: #eff4f5;
  padding: 8px 32px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  height: 48px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

s .forms-style input[type="submit"]:hover {
  background-color: #1e3e5a;
}

.wrapper2 {
  height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  text-align: center;
  text-decoration: none;
  margin-top: 128px;
  margin-left: 148px;
  margin-right: 148px;
}

.wrapper2 a {
  color: #264f73;
}

.wrapper2 a:hover {
  text-decoration: none;
  opacity: 0.6;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=main.css.map */